<%= form_for(character_atrribute) do |f| %>
  <% if character_atrribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_atrribute.errors.count, "error") %> prohibited this character_atrribute from being saved:</h2>

      <ul>
      <% character_atrribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :modifier %>
    <%= f.number_field :modifier %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
