<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @character_atrribute.value %>
</p>

<p>
  <strong>Modifier:</strong>
  <%= @character_atrribute.modifier %>
</p>

<%= link_to 'Edit', edit_character_atrribute_path(@character_atrribute) %> |
<%= link_to 'Back', character_atrributes_path %>
