<!DOCTYPE html>
<html>
  <head>
    <title>Rpgazebo</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: "RPGazebo", responsive: true do %>
	<%= menu_group do %>
            <%= menu_item "Home", root_path %>
            <%= menu_item "About", page_path('about') %>
	<% end %>
    <% end %>
    <div class="container">
	<%= yield %>
    </div>
  </body>
</html>
